.signup_screen {
  width: 60%;
  max-width: 600px;
  position: absolute;
  top: 4rem;

  padding: 3rem;

  background: rgba(0, 0, 0, 0.85);
}

.signup_screen > form {
  display: grid;
}

.signup_screen > form > h1 {
  text-align: left;
  margin-bottom: 2.4rem;
  font-size: 2.2rem;
}

.signup_screen > form > input {
  padding: 0.6rem;
  height: 3.8rem;
  min-width: 6.25rem;

  outline-width: 0;
  border-radius: 8px;
  border: none;

  margin-bottom: 1.125rem;
  padding: 1rem 1.25rem;
  background: #333333;
  color: #fff;
  font-size: 1.2rem;
}

.signup_screen > form > button {
  padding: 1rem 1.25rem;
  font-size: 1.4rem;

  color: #fff;
  background-color: #e50914;
  border-radius: 5px;

  border: none;
  cursor: pointer;
  margin-top: 30px;
}

.signup_screen > form > h4 {
  text-align: left;
  margin-top: 1.8rem;
  font-size: 1.2rem;
}
.signupScreen_gray {
  color: gray;
}

.signupScreen_link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.error-message {
  color: #e50914;
  font-size: 1.2rem;

  border-bottom: 2px solid #333333;
  font-weight: bold;
}

@media screen and (max-width: 780px) {
  .signup_screen {
    top: 0;
    height: 100%;
    min-width: 100vw;
    left: 0;
    z-index: -2;
    padding: 3.6rem 1.24rem 0 1.24rem;
  }

  .signup_screen > form {
    margin-top: 2.2rem;
  }

  .signup_screen > form > h1 {
    font-size: 2rem;
  }
}
